<div class="home-overlay">
    <div class="home-widgets">
        <!-- Left: Intro/Bio/Links -->
        <div class="home-widget home-widget-left">
            <h1 class="hero-title">Pritish S</h1>
            <h2 class="hero-subtitle">Electronic Music Producer & DJ</h2>
            <p class="hero-bio">
                Pritish S is a South African electronic music producer blending house, deep house, and afro house with modern, atmospheric sounds.<br>
                Discover his latest releases and follow him on your favorite platform.
            </p>
            <div class="hero-links">
                <a class="hero-btn spotify" href="https://open.spotify.com/artist/0ZyA3k1b2y1k4EYBLETymF" target="_blank"><i class="fab fa-spotify"></i> Spotify</a>
                <a class="hero-btn apple" href="https://music.apple.com/za/artist/pritish-s/1512613636" target="_blank"><i class="fab fa-apple"></i> Apple Music</a>
                <a class="hero-btn youtube" href="https://www.youtube.com/playlist?list=PLvTgkzE2no0R8LwT3Nf7TqWw1m3pQ4E3j" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
            </div>
            <div class="hero-socials">
                <a href="https://instagram.com/_f.l.x.m.e_" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@@_f.l.x.m.e_" target="_blank" title="TikTok"><i class="fab fa-tiktok"></i></a>
                <a href="https://www.facebook.com/pritish.sewsunker.1" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
            </div>
        </div>

        <!-- Right: Latest Release -->
        <div class="home-widget home-widget-right latest-release-card">
            <div class="latest-release-label">Latest Release</div>
            <img src="/images/electric3.jpg" alt="Latest Song Album Art" class="latest-release-art" />
            <div class="latest-release-title">ELECTRIC EUPHORIA III <span class="latest-release-year">2025</span></div>
            <div class="latest-release-links">
                <a class="hero-btn spotify" href="https://open.spotify.com/album/31dJkSK5T4fiwCGsJ2IjQ1?si=_k9c-uqcTe24UQF7TTKggA" target="_blank"><i class="fab fa-spotify"></i></a>
                <a class="hero-btn apple" href="https://music.apple.com/us/album/electric-euphoria-iii-ep/1810259100" target="_blank"><i class="fab fa-apple"></i></a>
                <a class="hero-btn youtube" href="https://youtu.be/vbSalL7d_mo?si=Rj692mTLoGGywCHG" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
